/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


// .theme-default-content:not(.custom) {
//   max-width: fit-content;
// }
// .page-edit  {
//   max-width: fit-content;
// }
// .page-nav  {
//   max-width: fit-content !important;
// }